<!DOCTYPE html>
<html>
  <head>
    <title>Image Recognition</title>
    <link rel="stylesheet" href="recognition.css" />
  </head>
  <body>
    <h1>Image Recognition</h1>
    <div id="results-info">
      <div id="process-indicator" style="color: gray; border: 1px solid gray">
        Upload Image
      </div>
    </div>
    <div class="container" id="container">
      <div id="left-panel">
        <input type="file" id="imageUpload" />
        <div id="imagePreview"></div>
        <button id="sendImage">Send Image</button>
        <div id="loader"></div>
      </div>
      <div id="right-panel">
        <!-- Person details will be displayed here -->
      </div>
    </div>
    <div id="instructions-panel">
      <h3>Instructions</h3>
      <h4>Confidence Score</h4>
      <p>
        The confidence score indicates how confident the system is about the
        recognition result:
      </p>
      <ul>
        <li style="color: green">
          Confidence &lt; 0.5: High confidence (correct identification)
        </li>
        <li style="color: red">
          Confidence &gt; 0.5: Low confidence (possible mismatch)
        </li>
      </ul>
    </div>
    <script src="./recognition.js"></script>
  </body>
</html>
