<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Specifies encoding -->
    <meta charset="UTF-8" />

    <!-- Set Viewport for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title>Draw Sketch Window</title>

    <!-- Load Fabric.js from CDN (FOR FALLBACK) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>

    <!-- Link to CSS -->
    <link rel="stylesheet" href="drawing.css" />
  </head>
  <body>
    <!-- Main container -->
    <div class="main">
      <!-- Left Panel: Displays facial compoenets that users can select -->
      <div class="left">
        <h1>Facial Components</h1>
        <!-- Each div represents a different facial component -->
        <!-- HEAD -->
        <div id="head" class="component">
          <div class="component-img c-head"></div>
          <div class="compnent-tag">Head</div>
        </div>

        <!-- EYES -->
        <div id="eyes" class="component">
          <div class="component-img c-eyes"></div>
          <div class="compnent-tag">Eyes</div>
        </div>

        <!-- EYEBROWS -->
        <div id="eyebrows" class="component">
          <div class="component-img c-eyebrows"></div>
          <div class="compnent-tag">Eyebrows</div>
        </div>

        <!-- HAIR -->
        <div id="hair" class="component">
          <div class="component-img c-hair"></div>
          <div class="compnent-tag">Hair</div>
        </div>

        <!-- LIPS -->
        <div id="lips" class="component">
          <div class="component-img c-lips"></div>
          <div class="compnent-tag">Lips</div>
        </div>

        <!-- NOSE -->
        <div id="nose" class="component">
          <div class="component-img c-nose"></div>
          <div class="compnent-tag">Nose</div>
        </div>

        <!-- MUSTACH -->
        <div id="mustach" class="component">
          <div class="component-img c-mustach"></div>
          <div class="compnent-tag">Mustach</div>
        </div>

        <!-- MORE extra facial compoents -->
        <div id="more" class="component">
          <div class="component-img c-more"></div>
          <div class="compnent-tag">More</div>
        </div>
      </div>

      <!-- Middle Panel : Contains actions and canvas -->
      <div class="middle">
        <!-- Action Buttons and dropdown for resource pack selectoin -->
        <div class="actions">
          <!-- Dropdown menu for selecting resource pack selection -->
          <div class="dropdown">
            <button class="dropbtn" id="dropdown-button">
              Resource Pack:<br /><span id="dropvalue">Default</span>
            </button>
            <div class="dropdown-content" id="dropdown-content">
              <a href="#" data-value="Default">Default</a>
              <a href="#" data-value="RE-JK">RE-JK</a>
            </div>
          </div>

          <!-- Action buttons for saving, resetting sketch and exiting the application -->
          <div class="action-btn" id="save">Save</div>
          <div class="action-btn" id="close">Reset</div>
          <div class="action-btn" id="exit">Exit</div>
        </div>

        <!-- Canvas contaier where users can draw sketches -->
        <div id="canvas-container">
          <canvas id="canvas" width="500" height="700"> </canvas>
        </div>
      </div>

      <!-- Right Panel: Initially displays a message but still show imgaes based on the selected component -->
      <div class="right" id="images">Select Component</div>
    </div>

    <!-- Link to js file for handing actions and interaction -->
    <script src="./action.js"></script>

    <!-- Link to Fabric.js file (redundant as already included in the head just for fall back if CDN fails due to connection issues) -->
    <script src="./fabric.min.js"></script>
  </body>
</html>
